<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GlobalLib.Properties.Settings.ShahzaibEMBConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=ShahzaibEMB;Persist Security Info=True;User ID=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>